.hidden {
  display: none;
}

* {
  box-sizing: border-box;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

li {
  float: left;
}

section > h2 {
  color: #f42;
  font-size: 1.5rem;
  line-height: 1.2;
}

hr {
  border-color: #f42;
}

section > h2:hover {
  color: #000;
}

article a {
  text-decoration: none;
  color: #fff;
  opacity: 1;
}

article {
  position: relative;
}

section:not(.popular) {
  margin: 1.5em 1em;
}

/* Start Nav-Bar styling */

div.sticky-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background: #fefefe;
  color: #bebebe;
}

div.sticky-nav img {
  width: 20%;
}

.sticky-nav div {
  display: flex;
  align-items: center;
}

div.sticky-nav div a {
  color: #bebebe;
  padding: 0.5em;
  border-left: 1px solid #ebebeb;
  font-size: 1.2rem;
}

.sticky-nav div a:last-child {
  color: #f42;
}

.festival-link {
  text-align: center;
  width: 100%;
  background: #fd3;
  color: #000;
  text-decoration: none;
  font-size: 0.75rem;
  padding: 2em;
}

.festival-link svg {
  padding-left: 0.5em;
  vertical-align: bottom;
}

/* Start Popular Articles Styling */

.popular {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5em;
  grid-auto-rows: 150px;
  margin: 0 0.5em;
}

.popular article {
  line-height: 1.2em;
  background: linear-gradient(#fff, #000 50%);
  color: #fff;
  overflow: hidden;
}

.popular article img {
  width: 100%;
  opacity: 0.3;
  object-fit: cover;
  max-height: 100%;
}

.popular article ul {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.7rem;
}

.popular article ul li {
  padding-right: 0.5em;
}

.popular article ul li svg {
  padding-right: 0.3em;
}

.popular article header {
  font-size: 0.9rem;
  z-index: 999;
  position: absolute;
  bottom: 0;
  padding: 0.5em;
}

.popular article h2 {
  font-size: 1.2rem;
  font-weight: 700;
}

/* news section styling */

section.news {
  display: grid;
  grid-gap: 0.5em;
}

section.news h2 {
  color: #f42;
  font-weight: 700;
  font-size: 1.5rem;
}

section.news p {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.3;
}

section.news article {
  display: flex;
}

section.news img {
  width: 75px;
}

section.news header {
  padding-left: 0.5em;
}

section.news ul,
section.news ul a[href="#"] {
  color: #aaa;
  font-size: 0.7rem;
}

section.news article a[href="#"] {
  color: #000;
}

section.news ul li:first-child {
  margin-right: 2em;
}

section.news ul li:last-child {
  list-style-type: disc;
}

/* Latest Funding Styling */

section.funding > article {
  margin: 0.5em 0;
  background-color: #fffaf8;
}

section.funding h2 {
  min-width: 100%;
}

.funding-links {
  display: flex;
  flex-direction: column;
  margin: 0.8em 0;
  line-height: 1.5;
}

ul.funding-links li a[href="#"] {
  text-decoration: none;
  font-size: 0.9rem;
  color: #f42;
}

.funding-links li a:hover {
  color: #000;
}

.funding article h4 {
  padding: 0.6em 5.5em;
  background: #f42;
  color: white;
}

.funding article img {
  width: 60px;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}

.funding-info {
  padding: 0.6em 5.5em;
  background: #ffebe7;
}

.funding-info span {
  color: #cfbebb;
  font-size: 0.7rem;
}

.funding article > span {
  margin: 1em 0.5em;
  display: block;
  font-size: 0.8rem;
}

.funding article p {
  margin: 2em 1em;
  font-size: 0.7rem;
}

.funding article p > span {
  color: #aaa;
  padding-left: 0.3em;
}

section.funding article span svg {
  margin-right: 0.5em;
}

footer {
  color: #fff;
}

footer#main-footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  font-size: 0.7rem;
  background: #000;
  min-height: 9em;
  padding: 3em 0;
}

footer#main-footer a {
  color: #fff;
  text-decoration: none;
}

footer div:first-child ul:first-child li {
  margin: 0 0.2em;
  background: #333;
  border-radius: 180%;
  width: 2em;
  text-align: center;
  font-size: 1.2rem;
}

footer div:first-child > ul:last-child {
  padding: 1em 0;
  font-size: 0.8rem;
}

footer div:first-child ul:last-child li {
  text-transform: uppercase;
  font-weight: 600;
}

footer#main-footer li {
  margin: 0 0.5em;
}

footer#main-footer > div:first-child {
  background: #131313;
}

footer div:last-child b {
  color: #f42;
}
