.hidden {
  display: none;
}

article a {
  text-decoration: none;
  color: #fff;
  opacity: 1;
}

/* Start Nav-Bar styling */

.sticky-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background: #fefefe;
  color: #bebebe;
}

.sticky-nav img {
  width: 20%;
}

.sticky-nav div {
  display: flex;
  align-items: center;
}

.sticky-nav div a {
  color: #bebebe;
  padding: 0.5em;
  border-left: 1px solid #ebebeb;
  font-size: 1.2rem;
}

.sticky-nav div a:last-child {
  color: #f42;
}

.festival-link {
  text-align: center;
  width: 100%;
  background: #fd3;
  color: #000;
  text-decoration: none;
  font-size: 0.75rem;
  padding: 2em;
}

.festival-link svg {
  padding-left: 0.5em;
  vertical-align: bottom;
}

/* Start Popular Articles Styling */

.popular {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5em;
  grid-auto-rows: 150px;
  margin: 0 0.5em;
}

.popular article {
  position: relative;
  line-height: 1.2em;
  background: linear-gradient(#fff, #000 50%);
  color: #fff;
  overflow: hidden;
}

.popular article img {
  width: 100%;
  opacity: 0.3;
  object-fit: cover;
}

.popular article ul {
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.7rem;
}

.popular article ul li {
  padding-right: 0.5em;
}

.popular article ul li svg {
  padding-right: 0.3em;
}

.popular article header {
  font-size: 0.9rem;
  z-index: 999;
}

.popular article h2 {
  font-size: 1.2rem;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  padding: 0.5em;
}
