body {
  background-color: #421;
}

section {
  background-color: #fe7;
}

.sticky-nav {
  display: flex;
  justify-content: space-between;
}

.sticky-nav img {
  width: 50%;
}

.sticky-nav div {
  display: flex;
}
